ion-header {
    ion-toolbar, ion-item {
      padding: 10px 10px;
    }
  }
  
  #progress-circle{
      margin-top: -20px;
      margin-bottom: 10px;
      transform: rotate(-90deg);
    }
    .timer-text {
      transform: rotate(90deg);
      transform-origin: center;
      font-size:26px;
      text-anchor: middle;
      font-weight: 600;
      fill: #7c3aed ;
    }
    
  
    .header-tabs {
      padding-left: 37px !important;
      padding-bottom: 30px !important;
  
      ion-button {
          --padding-start: 15px;
          --padding-end: 15px;
      }
  
      .tab-button {
          --box-shadow: none;
          color: var(--ion-color-grayprimary) !important;
      }
  }
  

  .startstop {
    justify-content: center;
    position: relative;
    top: 10px;
    }
  
 