<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button defaultHref="dashboard"></ion-back-button> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>

  <div class="slides ion-margin-bottom">
  <ion-row class="ion-justify-content-center">
    <svg
    id="progress-circle"
    width="50vh"
    height="50vh"
    viewBox="0 0 200 200"
    >
    <linearGradient id="linearColors1" x1="0" y1="0" x2="1" y2="1" >
        <stop offset="0%" stop-color="#AC9BE2"></stop>
        <stop offset="100%" stop-color="#ffa7b4"></stop>
    </linearGradient>
    <circle
      cx="50%"
      cy="50%"
      [attr.r]="circleR"
      fill="none"
      stroke="#f3f3f3"
      stroke-width="12"
    />
  <circle
    cx="50%"
    cy="50%"
    [attr.r]="circleR"
    fill="none"
    stroke="url(#linearColors1)"
    stroke-width="12"
    stroke-linecap="round"
    [attr.stroke-dasharray]="circleDasharray"
    [attr.stroke-dashoffset]="percentageOffset(percent | async)"
  />

<text x="50%" y="55%" class="timer-text">{{time| async}}</text>
</svg>
</ion-row>
</div>

<div class="container">
    <ion-row class="startstop">
      <ion-button *ngIf="energize==='0'" size="medium" shape="round" class="ion-margin-bottom ion-margin-top" color="tertiary"  expand="full" (click)="textcount()">Start</ion-button>
      <ion-button  *ngIf="energize==='1'" size="medium" shape="round" class="ion-margin-bottom ion-margin-top" color="tertiary"  expand="full" (click)="requestAccess()">Stop</ion-button>
    </ion-row>
</div>


</ion-content> 
