
.kanit-alert {
    //This class cover the full page
    --backdrop-opacity: 0.7;
    --background: var(--ion-color-primary);

    .alert-wrapper {
        //We customize here
        //border-style: groove;
        border: 1px groove #7c3aed;
        border-bottom-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        border-top-left-radius: 20px !important;
        padding: 9px;
    }

    .alert-title {
        font-size: 16px;
       // font-family: "kanit";
        color: white;
        font-weight: bold;
    }

    .alert-message {
        font-size: 14px;
        color: white;
        font-weight: 500;
       // font-family: "kanit";
    }

    .cancel {
        text-transform: uppercase;
        border-radius: 80px;
        background: var(--ion-color-grayblue);
        font-size: 14px;
       // color: white;
        font-weight: 400;
       // font-family: "kanit";
        padding: 13px;
    }

    .ok {
        text-transform: uppercase;
        border-radius: 80px;
        border: 2px groove white;
        background: var(--ion-color-primary);
        font-size: 14px;
        color: var(--ion-color-softviolet);
        color: white;
        font-family: "kanit";
        padding: 13px;
        font-weight: 400;
    }
}